html, body {
  margin: 0px;
  padding: 0px;
}

.well {
  margin: 15px;
}

.description {
  padding: 10px 0px;
}
.descripInput {
  width: 60%;
  min-height: 200px;
  display: inline;
}

.submit {
  text-align: center;
}
